@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background: #1C1C1C;
    color: #e95b5b;
    padding: 2.5rem 5rem;
    border-bottom: 1px solid #FAFAFA;
    
}

.nav-header, ul {
    display: flex;  
    gap: 1.5rem;
}

ul {
    list-style: none;
}

.nav-header a {
    text-decoration: none;
    color: #FFCDD2;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100vh;
    max-height: 1100vh;
    height: 100%;
    width: 100%;
    padding: 1rem 2.5rem;
    background-color: #1C1C1C;
}

/* Left Part */
.left-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    color: #1C1C1C;
}

.left-container figure {
    border: 0.5px solid rgb(138, 5, 5);
    background-color: #FFCDD2;
    padding: 0.5rem;
}

.left-container img {
    height: 30vh;
    width: 30vh;
    background-position: center;
    background-size: cover;
}

.left-container ul {
    display: flex;
    flex-direction: column;
    gap: 0;
}


/* Right Part */
.right-container {
    display: flex;
    flex-direction: column;
    color: #1C1C1C;
    border: 0.5px solid #FAFAFA;
    padding: 0.5rem 40px 40px 40px;
    background-color: #FFCDD2;
    border-radius: 0.5rem;
}

.right-container h2 {
    font-size: 25px;
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid #1C1C1C;
}

.filtro-section {
    padding-bottom: 0.5rem;
    font-size: 20px;
}

button {
    margin-top: 15px;
    padding: 0.5rem;
    background-color: #e95b5b;
    font-size: 15px;
    color: #fdfdfd;
    cursor: pointer;
}

#finalidade, #tipo, #localizacao {
    color: #FAFAFA;
    background-color: #1C1C1C;
    cursor: pointer;
}

/* About Us */
.about-us-container {
    margin: 5px auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.about-us-container h2 {
    font-size: 50px;
    text-align: center;
    color: #e95b5b;
    text-transform: uppercase;
    padding-top: 1rem;
}

.about-img img{
    position: relative;
    z-index: 1;
    height: 30vh;
    border-radius: 20px;
    z-index: 1;
}

.about {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 5000px;
    align-items: center;
    height: 300px;
    gap: 1rem;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.about-text {
    position: relative;
    z-index: 1;
    width: 45%;
    align-items: center;
}

.about-text h3 {
    z-index: 1;
    position: relative;
    text-align: center;
    color: #e95b5b;
}

#nav-logo-home {
    position: absolute;
    font-size: 440px;
    right: -175px;
    top: 0;
    color: #1C1C1C;
    opacity: 0.9;
    z-index: 0;
}


/* Button Whatsapp*/

#nav-logo {
    font-size: 60px;
    color: #e95b5b;
    cursor: pointer;
}

a.fa-brands, a.fa-solid{
    text-decoration: none;
}

.whatsapp {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

/* Footer */
.footer-container {
    text-align: center;
    align-items: center;
    padding: 3rem;
    background-color: #1C1C1C;
    color: #e95b5b;
}
